* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0078d4;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .progress {
    height: 7px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
  .progress--bar {
    background-color: #ffffff;
    height: 100%;
    transition: all ease 0.5s;
  }
  
  .questionArea,
  .scoreArea {
    display: none;
  }
  
  .questionArea {
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  
  .question {
    color: #ffffff;
    font-size: 18px;
    margin: 20px ;
  }
  .option {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #000000;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  .option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #00470d;
    color: #fff;
  }
  
  .option:hover {
    background-color: #95ff00;
    color: #fff;
  }
  
  .scoreArea {
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
  }
  .prizeImage {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
  }
  .scoreText1 {
    color: #0078d4;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .scorePct {
    color: #fff5f5;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .scoreText2 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: #0078d4;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  .scoreArea button:hover {
    background-color: #005ea8;
  }
  
  footer {
    margin-top: 20px;
    color: #ffffff;
    font-size: 13px;
  }
  h1 {
    color: #95ff00;
  }